#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Header logo */
#header .logo {
  height: 50px;
  border-radius: 100%;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

#header .logo img {
  height: 100%;
}

/* Nav links */
#header nav {
  position: relative;
  display: flex;
  height: 25px;
  padding: 5px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1000px);
}

#header nav a {
  text-decoration: none;
}

#header nav a.active {
  color: #fff;
}

#header nav a:not(.active) {
  color: rgb(210, 210, 210);
}

/* Header search bar */
#header .search {
  display: flex;
  width: 200px;
}

#header .search input {
  flex: 1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1000px);
}

#header .search input::placeholder {
  color: rgb(210, 210, 210);
}