#home {
  display: flex;
  flex: 1
}

#home-main-content { 
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 90, 90);
  border-radius: 8px;
  flex-grow: 1;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1000px);
  overflow: hidden;
  gap: 20px;
  justify-content: space-between;
}

#home-main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../static/img/game-background.svg);
  opacity: 0.5;
  z-index: -1
}

#home-main-content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
}