html,
body,
#app {
  margin: 0;
  padding: 0;
  color: #eee;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

#app {
  background: rgb(52,49,80);
  background: linear-gradient(145deg, rgba(52,49,80,1) 0%, rgb(49, 40, 59) 100%);
}

body {
  background: rgb(52,49,80);
}
/* Layout styles */
@import "./layouts/default.css";
/* Page styles */
@import "./pages/home.css";
/* Components styles */
@import "./components/app-header.css";
